/* CSS Document */ 
		body {
			background-color: linen;font-family:"Verdana", sans-serif; border: 3px solid #ddd; padding: 20px;
		 	margin-top: 20px; margin-bottom: 20px; margin-right: 50px; margin-left: 50px;}
		p  {font-size: 22px;font-family:"Verdana", sans-serif;}
		h1 { font-size: 35px;color: #008CBA;text-align: center;font-weight: bold;}
		h2 {font-size: 25px;color: #008CBA;text-align: center;font-weight: bold;}
		h3 {font-size: 25px;color: #008CBA;text-align: center;font-weight: bold;}
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: #666;
      text-align: center; border: 1px solid #e7e7e7;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #ddd;
    }
    
    li a.active {
      color: white;
      background-color: #008CBA;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th {
      padding: 8px;
      text-align: left;
      color: #008CBA;
      border-bottom: 1px solid #ddd;
    }
     td {
      font-size: 28px;padding: 8px;
      text-align: left;
     border: 3px solid #ddd;
    }
    
    .img {
        width: 100%;
        aspect-ratio: 4 / 3;
    }

    .img,
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

